@font-face {font-family: "Apercu Regular";
    src: url("../fonts/0a086e32e41c5e5960b26626757f07f3.eot"); /* IE9*/
    src: url("../fonts/0a086e32e41c5e5960b26626757f07f3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/0a086e32e41c5e5960b26626757f07f3.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/0a086e32e41c5e5960b26626757f07f3.woff") format("woff"), /* chrome、firefox */
    url("../fonts/0a086e32e41c5e5960b26626757f07f3.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/0a086e32e41c5e5960b26626757f07f3.svg#Apercu Regular") format("svg"); /* iOS 4.1- */
  }




/* body{
    font-family: -apple-system, BlinkMacSystemFont, 'Apercu', 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
} */
